@model CodeWork.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "| Profile";
}



<div class="user_profile">
    <div class="row">
        <!--LEFT SIDE-->
        <div class="col-8">
            <!--Personal Info-->
            <div class="row _shadow">
                <div class="col-12">
                    <div class="profile personal-info" id="personal">
                        <div class="heading">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Personal Information</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn btn-primary" id="js-edit">Edit</div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="content">
                            <div class="row">
                                <!--Profile Picture-->
                                <div class="profile-pic col-md-4">
                                    @{
                                        string profilePic = "";
                                        if (String.IsNullOrEmpty(Model.User.Profile.ProfilePicture))
                                        {
                                            profilePic = "default.png";
                                        }
                                        else
                                        {
                                            profilePic = Model.User.Profile.ProfilePicture;
                                        }
                                    }
                                    <img src="~/Img/profile/@profilePic" alt="user-dp" class="img-round"/>
                                </div>
                                <!--INFO-->
                                <div class="col-md-8">
                                    <h3>@Model.User.Profile.Name</h3>
                                    <div class="contact">
                                        <p> <strong>Username: </strong> @Model.User.Username</p>
                                        <p> <strong>Email: </strong> @Model.User.Email</p>
                                        <p> <strong>Contact: </strong> @Model.User.Profile.ContactNumber</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @Html.Partial("_EditPersonal", 
                                    new CodeWork.ViewModels.PesronalInfoViewModel 
                                    { Email = Model.User.Email, 
                                    Profile = Model.User.Profile, 
                                    Username = Model.User.Username})

                    </div>
                </div>
            </div>

            <!--Summary-->
            <div class="row _shadow">
                <div class="col-12">
                    <div class="profile" id="summary">
                        <div class="heading">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Summary</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn btn-primary" id="js-edit">Edit</div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="content">
                            @if (Model.User.Profile.Summary == null)
                            {
                                <div class="alert alert-primary">
                                    No Summary added yet!
                                </div>
                            }
                            else
                            {
                                <p> @Model.User.Profile.Summary </p>
                            }
                        </div>

                        @Html.Partial("_EditSummary", 
                       new CodeWork.ViewModels.SummaryViewModel 
                       { Summary = Model.User.Profile.Summary, 
                           ProfileId = Model.User.Profile.Id})

                    </div>
                </div>
            </div>

            <!--Education-->
            <div class="row _shadow">
                <div class="col-12">
                    <div class="profile" id="education">
                        <div class="heading">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Education</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn btn-primary" id="js-edit">Add</div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="content">
                            @if (Model.User.Profile.Education.Count == 0)
                            {
                                <div class="alert alert-primary">
                                    No Education info added yet!
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model.User.Profile.Education)
                                {
                                    <div>
                                        <h6>@item.InstitutionName, @item.Location</h6>
                                        <p>@item.DegreeTitle.Name - @item.FieldOfStudy</p>
                                        <p>@item.EndDate.Value.Year</p>
                                        <p>@item.Grade</p>
                                        <hr />
                                    </div>
                                }
                            }
                        </div>

                        @Html.Partial("_EditEducation",
                       new CodeWork.ViewModels.EducationInfoViewModel 
                       { Education = new CodeWork.Models.UserEducation(), 
                           DegreeTitles = Model.DegreeTitles, 
                           ProfileId = Model.User.Profile.Id })

                    </div>
                </div>
            </div>

            <!--Experience-->
            <div class="row _shadow">
                <div class="col-12">
                    <div class="profile" id="experience">
                        <div class="heading">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Job Experience</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn btn-primary" id="js-edit">Add</div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="content">
                            @if (Model.User.Profile.Experience.Count == 0)
                            {
                                <div class="alert alert-primary">
                                    No Job info added yet!
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model.User.Profile.Experience)
                                {
                                    string current = "";
                                    if (item.IsCurrentlyWorking)
                                    {
                                        current = "(Current)";
                                    }
                                    <div>
                                        <h6>@item.JobTitle</h6>
                                        <p>@item.Industry.Name</p>
                                        <p>@item.CompanyName, @item.Location</p>
                                        <p>@item.StartDate.Value.Year - @item.EndDate.Value.Year </p>
                                    </div>
                                }
                            }
                        </div>

                        @Html.Partial("_EditJob",
                       new CodeWork.ViewModels.JobInfoViewModel 
                       { Experience = new CodeWork.Models.UserJobExperience(), 
                       Industries = Model.Industries,
                       ProfileId = Model.User.Profile.Id })

                    </div>
                </div>
            </div>

            <!--Skills-->
            <div class="row _shadow">
                <div class="col-12">
                    <div class="profile" id="skills">
                        <div class="heading">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Technical Skills</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn btn-primary" id="js-edit">Add</div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="content">
                            @if (Model.User.Profile.Skills.Count == 0)
                            {
                                <div class="alert alert-primary">
                                    No skill added yet!
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model.User.Profile.Skills)
                                {
                                    <div>
                                        <h6>@item.Name</h6>
                                        <hr />
                                    </div>
                                }
                            }
                        </div>

                        @Html.Partial("_EditSkills", 
                        new CodeWork.ViewModels.SkillsInfoViewModel 
                        { Skill = new CodeWork.Models.UserSkills(),
                        ProfileId = Model.User.Profile.Id,
                        SkillLevels = Model.SkillLevels })

                    </div>
                </div>
            </div>


        </div> <!---End of Left Side-->
        <!--RIGHT SIDE-->
        <div class="col-4">
            <div class="profile_completion">
                <div class="_shadow right-fixed ">
                    <!--Heading-->
                    <div class="heading">
                        <h4>Profile Completion</h4>
                        <hr />
                    </div>

                    <!--Percentage-->
                    <div class="completion-percentage">
                        @{
                            int percentage = CodeWork.Models.Helpers.HelperMethods.GetProfileCompletionPercent(Model.User);
                            string headingColor = "text-success";

                            if (percentage < 50)
                            {
                                headingColor = "text-danger";
                            }
                            else if (percentage < 85)
                            {
                                headingColor = "text-warning";
                            }
                        }

                        <h1 class="@headingColor">@percentage%  </h1>
                    </div>

                    <!--List of Profile info-->
                    <div class="profile_list">
                        @{

                            List<string> incomplete = CodeWork.Models.Helpers.HelperMethods.GetListOfIncompleteInfo(Model.User);
                            List<string> complete = CodeWork.Models.Helpers.HelperMethods.GetListOfCompleteInfo(Model.User);


                            <ul>
                                @foreach (var item in complete)
                                {
                                    //Display list of Incomplete info
                                    <li> <span class="text-success">&#10003</span> @item </li>
                                }
                                @foreach (var item in incomplete)
                                {
                                    //Display list of Incomplete info
                                    <li> <span class="text-danger">&#10007</span> @item </li>
                                }
                            </ul>
                        }
                    </div>
                    <!--Message-->
                    <div class="message alert alert-warning">
                        Complete your profile and update your profile regularly to get hired quickly!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {
            $(".profile").on("click", "#js-edit", function () {

                var button = $(this);

                var parentId = "#" + button.parents(".profile").attr("id")

                //Hide the content
                $(parentId + " .content").hide();
                //Hide Edit button
                button.hide();

                //Show edit content
                $(parentId + " .edit-content").show();
            });

            $(".profile").on("click", "#js-cancel", function () {

                var button = $(this);

                var parentId = "#" + button.parents(".profile").attr("id");

                //Display original content
                $(parentId + " .content").show();
                $(parentId + " #js-edit").show();

                //Hide edit content
                $(parentId + " .edit-content").hide();

            });
        });
    </script>
}